body {
  font-family: 'Josefin Sans', sans-serif;
  background-color: #00A38D;
  background: url("https://edelwilliamslifetimes.files.wordpress.com/2014/06/island-pic.jpg");*/
}

.top {
  text-align: center;
  color: #D4AF37;
  font-size: 500%;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
  font-size: 2em;
}

li a {
  color: orange;
}

.navbar {
  background-color: #949998;
}

h1 {
  color: #FBA70D;
  text-align: auto;
}

h2, h3, h4 {
  color: #black;
  font-style: bolder;
}

.container-fluid
 {
   text-align: center;
   display: block;
 }

ul #item, .about {
  color: black;
  font-style: bold;
}

.navbar ul li:nth-of-type(1) a {
  padding-left: 30px;
}

.btn:hover {
  background:#B0487D;
}

.btn {
  background: #D074A3;
  margin: 15px;
}

ul #name {
  color: yellow;
  font-size: 1em;
  font-style:  bold;
}
.contact-container {
width: 500px;
margin: 0 auto;
/*text-align: center;*/
}

.about-container {
  width: 600px;
  margin: 0 auto;
}

.country-container {
  width: 600px;
  margin: 0 auto;
}

/*Adjusts the div for arrows and dots*/
.carousel {
    height: 300px;
    margin-bottom: 60px;
}

.carousel-caption {
    z-index: 10;
}

/*Adjusts the div for the entire carousel*/
.carousel-inner {
  height: 300px;
  width: 500px;
  margin: auto;
  /*margin-bottom: 60px;*/
}

/*Adjusts the images in the carousel*/
.img-carousel {
  position: fixed;
  top: -100px;
  min-width: 100%;
  height: auto;
}

#article-image-carousel {
  margin: 0;
  padding: 0;
}
.country-container img {
  height: 300px;
  width: 500px;
  margin: auto;
}
