<div class='container'>
  <h1><img src="css/travel.jpg">Welcome to Budget Travel!</h1>
  <nav class='navbar navbar-default' role='navigation'>
    <ul class='nav navbar-nav'>
      <li>{{#link-to 'categories'}}Categories{{/link-to}}</li>
      <!-- <li>{{#link-to 'about'}}About{{/link-to}}</li> -->
    </ul>
  </nav>

  {{outlet}}
</div>
