<div class='container'>
  <div class="container-fluid">
    <div class="navbar-header">

      <h1>Welcome to Budget Travel!</h1>

      <nav class='navbar navbar-default' role='navigation'>
        <ul class='nav navbar-nav'>
          <li>{{#link-to 'about'}}About{{/link-to}}</li>
          <li>{{#link-to 'countries'}}Countries{{/link-to}}</li>


        </ul>
      </nav>
    </div>
  </div>

    {{outlet}}

</div>
