<h1>Categories</h1>
{{name}}
{{#each category in model}}

<ul>
    <li>{{#link-to 'category' category}}{{category.name}}{{/link-to}}</li>
</ul>
{{/each}}
{{#link-to 'new-category' classNames="btn btn-primary"}}New Category{{/link-to}}
{{outlet}}
