<div class="contact-container">
  <h2><strong>My Contact Info:</strong></h2>
  <br>
  <br>
  <ul>
    <img src="http://retardnews.com/uploads/2009/pigeon-data.jpg" style="float: right; margin-left: 5px; margin-bottom: 5px;">
    <li><a href="mailto:tuckerjamesmayo@gmail.com">Email Me!</a></li><br>
    <li><a href="https://github.com/mistermayo">Check out my Github</a></li><br>
    <li><a href="https://www.linkedin.com/in/tuckerjamesmayo">LinkedIn</a></li>
  </ul>
{{#link-to 'application' classNames="btn btn-primary"}}Go Back{{/link-to}}
</div>
