<h2><strong>My Contact Info:</strong></h2>
  <ul class="contact">
    <li><a href="mailto:tuckerjamesmayo@gmail.com">Email Me!</a></li>
    <li><a href="https://github.com/mistermayo">Check out my Github</a></li>
    <li><a href="https://www.linkedin.com/in/tuckerjamesmayo">LinkedIn</a></li>
  </ul>
{{#link-to 'application' classNames="btn btn-primary"}}Go Back{{/link-to}}
